# Question 1

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

In [2]:
shopping[1]

'ham'

In [3]:
shopping[:3]

['spam', 'ham', 'eggs']

In [4]:
shopping[-1]

'ham'

# Question 2

In [5]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [6]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [7]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [8]:
stops.index("Croy")

1

In [9]:
stops.index("Falkirk High")

3

In [10]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [11]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [12]:
stops.clear()
stops

[]

# Question 3

In [13]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [14]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [15]:
person.values()

dict_values(['Steph', 31, True])

In [16]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [17]:
person["name"]

'Steph'

In [18]:
person.update({
    "email": "steph@codeclan.com"
})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [19]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

# Question 4

In [20]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [22]:
even_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)

even_numbers

[6, 2, 2, 6]

In [23]:
max(numbers) - min(numbers)

98

In [63]:
for i in range(len(numbers)):
    if numbers[i] == 2 and numbers[i+1] == 2:
        print("True")

True

In [88]:
add = True
running_sum = 0

for i in range(0, len(numbers)):
    if numbers[i] == 6:
        add = False
    elif numbers[i] == 7:
        add = True
    elif add == True:
        running_sum += numbers[i]

print(running_sum)

2

# Question 5

In [89]:
def python_review(python_is_fun, python_is_weird):
    if python_is_fun == True or python_is_weird == True:
        return "Woo Python!"
    elif python_is_fun == True and python_is_weird == True:
        return "Woo Python!"
    else:
        return "Python is not for me!"

In [90]:
python_review(True, True)

'Woo Python!'

In [91]:
python_review(True, False)

'Woo Python!'

In [92]:
python_review(False, True)

'Woo Python!'

In [93]:
python_review(False, False)

'Python is not for me!'

# Question 6

In [101]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [95]:
total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

In [99]:
def count_eggs(chicken_list):
    total_eggs = 0
    for chicken in chicken_list:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected
    
    return f"{total_eggs} eggs collected"

In [102]:
count_eggs(chickens)

'4 eggs collected'

# Extensions
## Question 1

In [103]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [105]:
united_kingdom[1]["capital"] = "Cardiff"

In [106]:
united_kingdom[1]

{'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}

In [107]:
united_kingdom.append({
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
})

In [108]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [109]:
for country in united_kingdom:
    print(country["name"])

Scotland
Wales
England
Northern Ireland

In [112]:
total_pop = 0

for country in united_kingdom:
    total_pop += country["population"]
    
total_pop

63179000

## Question 2

In [113]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [115]:
users["Jonathan"]["twitter"]

'jonnyt'

In [116]:
users["Erik"]["home_town"]

'Linlithgow'

In [117]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [134]:
users["Avril"]["pets"][0]["species"]

'snake'

In [137]:
min(users["Erik"]["lottery_numbers"])

8

In [147]:
{nums for nums in users["Avril"]["lottery_numbers"] if nums % 2 == 0}

{12, 14, 38}

In [150]:
users["Erik"]["lottery_numbers"].append(7)

In [151]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

In [153]:
users["Erik"].update({
    "home_town": "Edinburgh"
})

In [154]:
users["Erik"]

{'twitter': 'eriksf',
 'lottery_numbers': [18, 34, 8, 11, 24, 7],
 'home_town': 'Edinburgh',
 'pets': [{'name': 'nemo', 'species': 'fish'},
  {'name': 'kevin', 'species': 'fish'},
  {'name': 'spike', 'species': 'dog'},
  {'name': 'rupert', 'species': 'parrot'}]}

In [155]:
users["Erik"]["pets"].append({
    "name": "Fluffy",
    "species": "dog"
})

In [156]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [163]:
users.update({
    "Chris": {}
})

In [164]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'Chris': {}}